@import url('https://fonts.googleapis.com/css?family=Poppins:400,500|Roboto:400,500');

/*=================
    01.BASIC
===================*/

html,
body {
	width: 100%;
	overflow-x: hidden; /**important**/
}

body {
    font-family: 'Roboto', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'open sans', sans-serif;
}

h1.font-weight-bold,
h2.font-weight-bold,
h3.font-weight-bold,
h4.font-weight-bold,
h5.font-weight-bold,
h6.font-weight-bold {
    font-weight: 500 !important;
}

a,
a:hover,
a:focus,
button {
    text-decoration: none !important;
    outline: none !important;
}

a {
    font-weight: 500;
    color: inherit;
}

a:hover {
    color: #472331;
}

p {
    font-size: 14px;
    line-height: 1.6;
}

h2 {
    text-transform: uppercase;
}


/*==================
    02.HELPER
====================*/

.bg_overlay_cover_on_landing {
    background-color: rgba(0, 0, 0, 0.747);
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

.bg_overlay_cover_on {
    background-image: linear-gradient(to bottom, rgba(231, 204, 230, 0.829), #fff2ccc2);
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

.section_title_all h3 {
    text-transform: capitalize;
    font-weight: 500;
}

.section_subtitle {
    max-width: 550px;
}

.section_title_all span {
    color: rgb(43, 43, 43);
}

.section_icons i { 
    font-size: 34px;
    background-color: black;
    color: #ffffff;
    display: inline-block;
    height: 70px;
    width: 70px;
    line-height: 70px;
    text-align: center;
    border-radius: 50px;
    font-weight: 700;
}


h1>.text_custom {
    font-weight: 100;
    background-color: rgba(0, 0, 0, 0.596);
    color: #fff2cc;
}

h1 {
    min-height: 20vh;
}

.bg_custom {
    background-color: #222335;
}

.bg_custom_gradiant {

  background: #ff4b1f; /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #ff4b1f, #ff9068); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #ff4b1f, #ff9068); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.btn {
    padding: 13px 32px;
    font-size: 14px;
    transition: all 0.5s;
    letter-spacing: 0.6px;
    color: #fff;
    box-shadow: none !important;
    text-transform: uppercase;
    outline: none !important;
}

.btn_custom {
    border: 1px solid white;
    background-color: black;
}

#work .btn_custom {
    margin: 2rem;
    background-color: #fff2cc;
    color: rgb(44, 44, 44);
    font-weight: bold;
}

.btn_custom:hover,
.btn_custom:focus,
.btn_custom:active,
.btn_custom.active,
.btn_custom.focus,
.btn_custom:active,
.btn_custom:focus,
.btn_custom:hover,
.open > .dropdown-toggle.btn_custom {
    color: #f3f3f3;
    background-color: rgb(51, 51, 51);
    border-color: white;
}

.btn_outline {
    border: 2px solid #f52a50;
    color: #000;
}

.btn_outline:hover,
.btn_outline:focus,
.btn_outline:active,
.btn_outline.active,
.btn_outline.focus,
.btn_outline:active,
.btn_outline:focus,
.btn_outline:hover,
.open > .dropdown-toggle.btn_outline {
    background-color: #f52a50;
    border-color: #f52a50;
    color: #ffffff;
}

.btn_rounded {
    border-radius: 30px;
}

.full_height_100vh {
    height: 100vh;
}

.vertical_content_manage {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    -webkit-align-items: center;
    justify-content: center;
    -webkit-justify-content: center;
    flex-direction: row;
    -webkit-flex-direction: row;
}

.section_all {
    position: relative;
    padding-top: 80px;
    padding-bottom: 80px;
    /*background-color: #ffffff;*/
}

.btn_small {
    padding: 7px 14px;
}

.navbar-brand img {
    height: 34px;
}

.btn-rounded {
    border-radius: 35px;
}


/*======================
    03  NAVBAR
=======================*/

.custom_nav_menu {
    padding: 15px 0px;
    width: 100%;
    border-radius: 0px;
    z-index: 999;
    margin-bottom: 0px;
    transition: all 0.5s ease-in-out;
    border-bottom: 1px solid rgba(255, 255, 255, 0.07);
}

.custom_nav_menu .social_menu .list-inline-item:not(:last-child) {
    margin-right: 8px;
}

.custom_nav_menu .navbar-nav li a {
    color: #fff;
    font-size: 15px;
    background-color: transparent !important;
    padding: 15px 0;
    margin: 0 7px;
    font-weight: 500;
    transition: all 0.4s;
}

.navbar-toggler {
    font-size: 24px;
    margin-top: 5px;
    margin-bottom: 0px;
    color: #ffffff;
}

.stickyadd .navbar-nav {
    margin-top: 0px;
}

.stickyadd.custom_nav_menu .navbar-nav li a {
    color: rgba(0, 0, 0, 0.75);
}

.custom_nav_menu .navbar-brand.logo img {
    height: 60px;
}

.stickyadd.custom_nav_menu {
    margin-top: 0px;
    padding: 8px 0px;
    background-color: #fff;
    border-bottom: 1px solid #fff;
    box-shadow: 0px 0px 18px 1px rgba(0, 0, 0, 0.1);
}

.custom_nav_menu .navbar-nav li.active a,
.custom_nav_menu .navbar-nav li a:hover,
.custom_nav_menu .navbar-nav li a:active {
    color: #472331 !important;
}

.navbar-toggle {
    font-size: 24px;
    margin-top: 5px;
    margin-bottom: 0px;
    color: #ffffff;
}

.custom_nav_menu .btn-custom {
    margin-top: 5px;
    margin-bottom: 5px;
}

.nav .open>a,
.nav .open>a:focus,
.nav .open>a:hover {
    background-color: transparent;
    border-color: #337ab7;
}

.logo .logo-light {
    display: inline-block;
}

.stickyadd .logo .logo-dark {
    display: inline-block;
}

.stickyadd .logo .logo-light {
    display: none;
}

.logo .logo-dark {
    display: none;
}


/*================
    04.HOME
==================*/

.home_title {
    font-size: 50px;
    line-height: 1.2;
    max-width: 600px;
}

.home_subtitle {
    color: #dadada;
    max-width: 600px;
    line-height: 1.8;
}

.home_table_cell_center {
    display: table-cell;
    vertical-align: middle;
}

.home_table_cell {
    display: table;
    width: 100%;
    height: 100%;
}

.full_height_100vh_home {
    height: 100vh;
}

.up-index {
    z-index: 2;
}

/*------------------
  PERSONAL HOME
------------------*/

.bg_home_personal_cover {
    background-image: url(../images/bg_personal_img.png);
    background-color: #352232;
    background-size: cover;
    background-position: center center;
}

.personal_home_title { /**jumbotron text**/
    font-size: 55px;
    line-height: 1.2;
    max-width: 700px;
    font-family: 'source code pro', sans-serif;
    font-weight: 100;
}


/*=================
    0.5  ABOUT
===================*/

.about_content_box_all {
    border: 1px dashed #e7e7e7;
    padding: 30px;
}

.about_icon i {
    font-size: 38px;
    height: 65px;
    width: 65px;
    line-height: 65px;
    display: inline-block;
    border-radius: 35px;
    text-align: center;
    /*box-shadow: 0 8px 20px -2px rgba(158, 152, 153, 0.5);*/
}

.about_icon span {
    position: relative;
    top: -10px;
}

.about_content_box_all {
    padding: 28px;
}

.under_box_shadow {
    box-shadow: 0 0 35px rgba(112, 112, 112, 0.1);
    border-radius: 15px;
    background-color: #ffffff;
    padding: 30px;
}

.buss_about_box_content {
    max-width: 450px;
}

.business_about_icon i {
    font-size: 38px;
    text-align: center;
    color: #3eff95;
    overflow: hidden;
}

.business_about_icon p {
    line-height: 1.4;
}

.clients_content img {
    max-height: 80px;
    width: auto !important;
}

h6 {
	font-weight: bold;
	color: black;
	text-transform: uppercase;
	background-color: #FFF2CC;
}

.icon-box h6 {
    font-size: 90%;
}

.icon-box h5 {
    padding-top: 10px;
    font-size: 90%;
}

.icon.skill-icon {
	font-size: 35pt;
}

.icon.skill-icon:hover {
	filter: opacity(50%);
}

.illustrator:hover {
	filter: opacity(50%);
}

.icon-container {
    display: flex;
    align-content: center;
	place-content: center;
	flex-wrap: wrap;
	margin: 0 0 0px;
    color: black;
}

.icon-box {
    justify-self: center;
	border: 2px solid transparent;
	margin: 20px;
	padding: 3px;
	min-height: 80px;
    max-height: 80px;
}


/*---------------------
    ABOUT ME 
----------------------*/

#katie-head { /**responsive change needed**/
    display: block;
    max-height: 400px;
    max-width: auto;
    margin-top: -50px;
}

.intro-list {
    padding-top: 20px;
}

.intro-list > .icon {
    margin-right: 10px;
    color: #3eff95;
}

.personal_about_details{ /**responsive needed**/
    max-width: 450px;
}

.personal_about_information h5 {
    line-height: 1.6;
}

.about_social_icons ul li a { /**responsive needed**/
    font-size: 25px;
    color:  #3eff95;
    padding-right: 12px;
}

.edu_detail h5 {
    font-size: 18px;
    margin-top: 0;
    text-transform: capitalize;
}

/*-------------------
    SERVICES 
--------------------*/

.justify-center {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.service.service-wrapper {
	/*border: 10px solid rgba(128, 128, 128, 0.151); */
	margin: 10px;
	background-color: whitesmoke;
}

.service-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: top;
}

.service-icon {
	padding: 7px;
	margin: 10px;
	color:black;
    font-size: 25px;
}

.service-list {
	display: flex;
	flex-direction: column;
    list-style-type: none;
    padding: 20px 15px 20px 15px;
	line-height: 24px;
	font-size: 95%;
	max-width: 300px;
}

.service-list-item i {
	padding-right: 5px;
}

.service-list-item {
	text-align: left;
}

.service-list-item > .icon {
    color: #3eff95;
}

.service-wrapper>h3 {
	color: black;
	margin-top: 15px;
	height: 75px;
	padding-top: 0;
}

.service-heading {
    background-color: #FFF2CC;
    color: black;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
    font-size: 12pt;
    padding: 5px 0px 5px 0px;
}

/*===================
   0.7 CTA
====================*/

.bg_cta_business_img {
    background-image: url(../images/chair-background-small.png);
    background-size: contain;
    background-position: top right;
    background-repeat: no-repeat;
}

.cta-heading {
    color: black;
}

.cta_details {
    max-width: 635px;
    line-height: 2.0;
    color: black;
}

.all_section_heading_details {
    color: #dadada;
    line-height: 1.8;
}

.cta_max_width {
    max-width: 635px;
}

.bg_buss_call_cta { /*contact section background*/
    background-image: url(../images/goodnight-html-footer.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
}

.contact-heading {
    font-size: 55pt;
}

/*====================
  08. WORK PROCESS
====================*/

.business_work_flow i {
    font-size: 42px;
}

.work_process_details {
    overflow: hidden;
}

.work_border_left {
    border-left: 1px solid #d8d7d7;
}

/*=========================
    0.9 FEATURES
==========================*/

.description_header_main {
    max-width: 500px;
}

.business_features_box {
    border: 1px dashed #e7e7e7;
}

.business_features_box .business_features_icon i {
    float: left;
    margin-right: 20px;
    font-size: 24px;
    width: 20px;
}

.business_features_link i {
    font-size: 16px !important;
}

.business_features_details {
    overflow: hidden;
}

/*=====================
  10.  PORTFOLIO
======================*/

#work {
    padding-bottom: 30vh;
}

.work_menu li a {
    cursor: pointer;
    display: block;
    border-radius: 8px;
    letter-spacing: 0.03em;
    margin-bottom: 5px;
    font-weight: 500;
    font-size: 14px;
    padding: 7px 16px;
    transition: all 0.5s;
    /* margin-top: 5px; */
}

.work_menu a.active,
.work_menu a:hover {
    background-color: #fff2cc;
    color: black !important;
}

.work_item {
    position: relative;
    padding: 15px;
}

.work_box {
    overflow: hidden;
    position: relative;
}

.work_box .work_img {
    position: relative;
    overflow: hidden;
}

.work_box .work_img:after {
    content: " ";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 5px;
    transition: all 0.27s cubic-bezier(0.3, 0.1, 0.58, 1);
}

.work_box .work_img>img {
    transition: all 0.3s cubic-bezier(0.3, 0.1, 0.58, 1);
    border-radius: 0;
}

.work_box .work_detail {
    opacity: 0;
    color: #ffffff;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    position: absolute;
    left: 0;
    overflow: hidden;
    transition: all 0.27s cubic-bezier(0.3, 0.1, 0.58, 1);
}

.work_box .work_detail h4 {
    font-size: 22px;
}

.work_box .work_detail p {
    color: rgba(255, 255, 255, 0.6);
    font-size: 14px;
    font-weight: 500;
}

.work_box:hover .work_detail {
    top: 50%;
    transform: translate(0, -50%);
    opacity: 1;
}

.work_box:hover .work_img:after {
    background: rgba(20, 20, 20, 0.8);
}

.work_box:hover .work_img>img {
    transform: scale(1.05);
}

/*=====================
   11. TESTIMONIAL
======================*/

.bg_testimonial_business {
    background-image: url("../images/business_testi.jpg");
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

.business_testi_content {
    max-width: 650px;
}

.business_testi_content .business_testi_details {
    font-size: 15px;
    color: #ffffff;
    line-height: 1.6;
}

.business_testi_content span {
    font-size: 12px;
    text-transform: capitalize;
}

.business_testi_content_img img {
    max-width: 120px;
    border: 5px solid #ffffff;
}

.owl-theme .owl-controls .owl-page span {
    display: block;
    width: 12px;
    height: 6px;
    margin: 5px 4px;
    filter: Alpha(Opacity=50);
    opacity: 0.5;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    transition: all 0.5s;
    background: #ff5c79;
}

.owl-theme .owl-controls .owl-page.active span {
    width: 20px;
}

/*----------------------
   LANDING TESTIMONIAL
-----------------------*/

.landing_client_box {
    max-width: 750px;
}

.landing_client_box .landing_client_img_box img {
    max-width: 80px;
}

.landing_client_box span {
    font-size: 14px;
}

.landing_testi_desc {
    padding: 22px 30px;
    border: 1px solid #ddd;
    border-radius: 6px;
}

.landing_testi_desc p {
    line-height: 1.6;
}

.user-work {
    font-weight: 500;
}


/*--------------------
 PERSONAL TESTIMONIAL
--------------------*/

.personal_testi_content_img img {
    max-width: 100px;
    border: 5px solid #ffffff;
}

/*=====================
    18. CONTACT US
======================*/

.contact_details_content {
    border-radius: 4px;
}

.contact_detail p {
    overflow: hidden;
}

/*-------------------
  CONTACT
--------------------*/

#smile-icon {
    color: #fff2cc;
    animation-name: rotate;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    font-size: 50px;
    padding: 1rem;
}

@keyframes rotate {
    25% {
        transform: rotate(90deg);
    }
    50% {
        transform: rotate(180deg);
    }
    75% {
        transform: rotate(270deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

#contact-section form {

}

#contact-section form input, 
    #contact-section form textarea {
    background-color: #fff2cc;
    width: 100%;
    padding: 0.5rem;
    margin-top: 1rem;
    border: none;
}

/*==================
    19.FOOTER
====================*/

.bg_footer {
    background-color: #2e3234;
}

.buss_footer_menu_list li a {
    color: #6c757d;
    font-size: 16px;
}

.buss_footer_menu_list li {
    padding-bottom: 10px;
}

.footer_alt_cpy {
    color: #6c757d;
}

.buss_icon_social_footer ul li a {
    border: 2px solid rgba(255, 255, 255, 0.5);
    color: rgba(255, 255, 255, 0.5);
    height: 45px;
    width: 45px;
    display: inline-block;
    line-height: 43px;
    border-radius: 50%;
    transition: all 0.5s;
    text-align: center;
    font-size: 16px;
}

.buss_icon_social_footer ul li a:hover {
    border: 2px solid #3eff95;
    color: #FFF;
}

.business_footer_logo img, .minimal_footer_logo img, .footer_logo_software img {
    max-width: 150px;
}

/*---------------------
    LANDING FOOTER
----------------------*/

.footer_menu_list li a {
    color: #6c757d;
    font-size: 16px;
    font-weight: bold;
}

.footer_menu_list li::after {
    content: "|";
    margin: 0 8px;
    color: #6c757d;
}

.footer_menu_list li:last-child:after {
    content: "";
    margin: 0px;
}

.footer_alt_cpy,
.text-footer {
    color: #6c757d;
}

.subcribe_newslatter_footer input {
    padding: 12px 20px;
    width: 100%;
    font-size: 16px;
    color: #000 !important;
    border: none;
    outline: none !important;
    padding-right: 150px;
    padding-left: 30px;
    border-radius: 30px;
    border: 2px solid #e0e0e0;
}

.subcribe_newslatter_footer button {
    position: absolute;
    top: 4px;
    right: 5px;
    outline: none !important;
    border-radius: 30px;
    font-size: 16px;
    padding: 9px 30px;
}

.subcribe_newslatter_footer form {
    max-width: 600px;
}

.footer_social_icons li a {
    border: 2px solid #6c757d;
    color: #6c757d;
    border-radius: 50%;
    transition: all 0.5s;
    width: 45px;
    height: 45px;
    line-height: 42px;
    display: inline-block;
    font-size: 16px;
    text-align: center;
}

.footer_social_icons li a:hover {
    color: #fff;
    background-color:  #3eff95;
    border: 2px solid #3eff95;
}

.minimal_footer_header h5 {
    letter-spacing: 2px;
}

.minimal_header_desc {
    max-width: 450px;
}

/*=====================
    20. RESPONSIVE
=======================*/

@media (max-width: 991px) {

    h1>.text_custom {
        font-weight: 100;
        background-color: rgba(0, 0, 0, 0.596);
    }

  .jumbotron-box>h1 {
        font-size: 40px;
    }

    .work_box {
        display: flex;
        justify-content: center;

    }

    .work_box .work_img {
        max-width: 400px;
        max-height: auto;
    }
    
    #katie-head { /**responsive change needed**/
        max-height: 300px;
        max-width: auto;
        margin-top: 50px;
    }
    .custom_nav_menu {
        margin-top: 0px;
        padding: 10px 0px !important;
        background-color: #fff !important;
    }
    .vertical_content_manage {
        display: inherit;
    }
    .home_title {
        font-size: 34px;
    }

    .home_title_minimal{
        font-size: 28px;
    }

    .section_main_box h3 {
        font-size: 24px;
    }
    .custom_nav_menu .navbar-nav li a {
        margin: 0 0px;
        padding: 6px 0;
        color: rgba(0, 0, 0, 0.55) !important;
    }
    .custom_nav_menu .navbar-nav li.active a {
        color: #472331 !important;
    }
    .custom_nav_menu>.container {
        width: 90%;
    }
    .custom_nav_menu .logo .logo-dark {
        display: inline-block;
    }
    .custom_nav_menu .logo .logo-light {
        display: none;
    }
    .custom_nav_menu .navbar-brand.logo img {
        height: 50px;
    }
    .navbar-nav {
        margin-top: 0px;
    }
    .navbar-toggler {
        font-size: 28px;
        margin-top: 0px;
        margin-bottom: 0px;
        color: #000;
    }
    .h-100vh,
    .full_height_100vh_home {
        height: auto;
    }
    .full_height_100vh_home {
        padding: 125px 0px;
        position: relative;
    }
    .home_half_cover {
        padding: 125px 0 130px 0;
    }
    .work_border_left {
        border: none;
    }
    .bg_home_minimal_cover {
        padding: 90px 0px;
        position: relative;
        background-position: center;
    }
    .app_testi_box {
        margin: 5px;
    }
    .section_title h3 {
        z-index: 100;
        position: absolute;
        top: 7px;
        left: 0;
        right: 0;
        bottom: 0;
    }
    .section_title p {
        font-size: 36px;
        position: relative;
    }

    .half_height_home_blog {
        position: relative;
        padding: 121px 0 110px;
    }

    .service-list {
        width: auto;
        list-style-type: none;
        padding: 20px 15px 20px 15px;
        max-width: 600px;
        font-size: 18px;
        line-height: 1.6;
    }

    .service-list-item > .icon {
        padding-right: 10px;
    }

    .service_content_all {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .service-heading {
        background-color: #FFF2CC;
        width: 100%;
        color: black;
        text-transform: uppercase;
        font-weight: bold;
        letter-spacing: 2px;
        padding: 5px 0px 5px 0px;
    }

}

@media (min-width: 830px)  {
    .app_home_landing  img {
        max-width: 300px;
    }


}

@media (min-width: 768px) and (max-width: 990px) {

    .icon-container {
        display: flex;
        flex-wrap: wrap;
        margin: 0 0 0px;
        color: black;
        align-content: center;
        justify-content: center;
    }

    .personal_about_details{
        max-width: auto;
        display: block;
        margin-left: auto;
        margin-right: auto;
        padding-left: 50px;
    }

    p {
        font-size: 18px;
        line-height: 1.6;
    }

    .service_content_all {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

}

@media (max-width: 767px)  {
    
    h1>.text_custom {
        font-weight: 100;
        background-color: rgba(0, 0, 0, 0.596);
    }

  .jumbotron-box>h1 {
        font-size: 30px;
    }

    h3 {
        font-size: 40px;
        padding-bottom: 15px;
    }

    .icon-container {
        display: flex;
        flex-wrap: wrap;
        margin: 0 0 0px;
        color: black;
        align-content: center;
        justify-content: center;
    }
    
    .icon-box {
        border: 2px solid transparent;
        margin: 15px;
        margin-bottom: 20px;
        padding: 3px;
        min-height: 80px;
        max-height: 80px;
    }

    p {
        font-size: 18px;
        line-height: 1.6;
    }

    .personal_about_details{
        max-width: auto;
        margin-left: 15px;
    }

    .intro-header {
        text-align: center;
    }

    .intro-list {
        margin-left: 20px; /**change**/

    }
    
}

@media screen and (max-width: 579px) {

    .bg_cta_business_img {
        background-image: url(../images/just-lights.png);
        background-size: cover;
        background-position: top right;
        background-repeat: no-repeat;
    }

    .icon-box>h6 {
        width: auto;
        background-color: white;
        color: #3eff95;
    }

    .icon-box {
        margin-bottom: 30px;
    }
  }

@media screen and (max-width: 375px) {
    .intro-list {
        margin-left: 0;
    }
  }

    
@media screen and (max-width: 820px) and (min-width: 350px) {
  .home_title {
    font-size: 26px;
  }
}